* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #d86f4e;
}

body {
  height: 200vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.902);
  overflow-x: hidden;
}

header {
  width: 25%;
  height: 11vh;
  background-color: var(--main-color);
  position: fixed;
  top: -10px;
  right: -10px;
  border-radius: 20%;
  z-index: 10;
}

.menu {
  position: absolute;
  right: 30%;
  top: 30%;
}

.menu i {
  font-size: 40px;
}

main {
  width: 100%;
  height: 90vh;
  position: relative;
  margin-top: 80px;
}

.titulo {
  position: absolute;
  top: 2%;
  left: 30%;
}

.titulo h2 {
  color: var(--main-color);
  letter-spacing: 5px;
}

.planetas {
  position: absolute;
  top: 15%;
  left: 5%;
}

.planetas ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.planeta-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.planeta-item h2 {
  padding-left: 70px;
  font-weight: 200;
  letter-spacing: 4px;
  color: var(--main-color);
}

.planeta-item img {
  display: none;
  height: 60px;
}

.planeta-item.ativo {
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  width: 350px;
  justify-content: space-between;
}

.planeta-item.ativo h2 {
  padding-left: 10px;
  font-weight: 400;
  font-size: 30px;
}

.planeta-item.ativo img {
  display: block;
}

.adicionar {
  position: absolute;
  left: 42%;
  top: 85%;
}

.adicionar h1 {
  font-size: 40px;
  color: var(--main-color);
  text-shadow: 0 0 20px var(--main-color);
  padding: 10px 20px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}
