* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #d86f4e;
}

body {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.902);
  overflow-x: hidden;
}

header {
  width: 25%;
  height: 11vh;
  background-color: black;
  position: fixed;
  top: -10px;
  right: -10px;
  border-radius: 20%;
  z-index: 10;
}

.menu {
  position: absolute;
  right: 30%;
  top: 30%;
}

.menu i {
  font-size: 40px;
  color: var(--main-color);
}

main {
  background-color: var(--main-color);
  width: 100%;
  height: 70vh;
  border-radius: 0px 10px 180px 180px;
  position: relative;
}

.pagina {
  padding-left: 20px;
  padding-top: 20px;
}

.pagina h2 {
  color: black;
  font-size: 28px;
}

.titulo {
  position: absolute;
  left: 10%;
  top: 10%;
}

.titulo p {
  color: black;
  font-size: 32px;
  text-align: center;
}

.titulo h2 {
  color: black;
  margin-top: 20px;
  font-size: 38px;
}

.mundo {
  display: flex;
  justify-content: center;
  top: 35%;
  position: absolute;
}

.mundo img {
  width: 80%;
  height: auto;
}

.rotacao i {
  font-size: 36px;
}

.circulos li {
  font-size: 30px;
}

.circulo1 {
  position: absolute;
  left: 35%;
  top: 10%;
}

.circulo2 {
  position: absolute;
  left: 50%;
  top: 80%;
}

.circulo3 {
  position: absolute;
  left: 35%;
  top: 40%;
}

.circulo4 {
  position: absolute;
  left: 75%;
  top: 40%;
}

.expandir {
  position: absolute;
  top: 75%;
  left: 5%;
  background-color: #ffffff1e;
}

.expandir i {
  color: black;
  font-size: 50px;
}

.texto {
  margin-top: 30px;
  margin-left: 20px;
}

.texto p {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.texto p span {
  color: var(--main-color);
  font-weight: bold;
}

.pontos {
  margin-top: 20px;
  padding-left: 20px;
}

.pontos i {
  color: var(--main-color);
  font-size: 35px;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}
